Repository privacy-scaling-explorations/zk-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, eslint

refactor(imt): define export type IMTNode instead of any (#366)
  packages/imt/src/types/index.ts
Due: yarn prettier --write, eslint

fix: Fix element order in proof.pi_b Update proof-packing.ts
  packages/utils/src/proof-packing.ts
Due: yarn prettier --write, eslint

Update LICENSE
  LICENSE
Due: none

fix: fix in message text Update index.test.ts
  packages/logical-expressions/tests/index.test.ts
Due: yarn prettier --write, eslint

fix: fix typo in EVM assembly method name in index.d.ts
  types/circomlibjs/index.d.ts
Due: yarn prettier --write, eslint

Update index.d.ts
  types/circomlibjs/index.d.ts
Due: yarn prettier --write, eslint

feat(utils): support boolean in types-checks and error-handlers
  packages/utils/src/error-handlers.ts
  packages/utils/src/type-checks.ts
  packages/utils/tests/error-handlers.test.ts
  packages/utils/tests/type-checks.test.ts
Due: yarn prettier --write, eslint

test(utils): add support for more types in the isSupportedType function
  packages/utils/tests/type-checks.test.ts
Due: yarn prettier --write, eslint

feat(utils): support boolean in types-checks and error-handlers (#373)
  packages/utils/src/error-handlers.ts
  packages/utils/src/type-checks.ts
  packages/utils/tests/error-handlers.test.ts
  packages/utils/tests/type-checks.test.ts
Due: yarn prettier --write, eslint

chore(utils): v1.3.0
  packages/baby-jubjub/package.json
  packages/eddsa-poseidon/package.json
  packages/imt/package.json
  packages/lean-imt/package.json
  packages/poseidon-cipher/package.json
  packages/poseidon-proof/package.json
  packages/utils/package.json
  yarn.lock
Due: yarn prettier --write

chore(imt): v2.0.0-beta.8
  packages/imt/package.json
Due: yarn prettier --write

refactor: consolidated benchmark logic into benchmarkSuite function
  benchmarks/benchmark-merkle-trees.ts
Due: yarn prettier --write, eslint

Update README.md
  README.md
Due: yarn prettier --write

refactor: consolidated benchmark logic into benchmarkSuite function (#374)
  benchmarks/benchmark-merkle-trees.ts
Due: yarn prettier --write, eslint

fix(lean-imt): replace the spread operator with concat
  packages/lean-imt/src/lean-imt.ts
Due: yarn prettier --write, eslint

fix(lean-imt): replace the spread operator inside the push function with concat (#377)
  packages/lean-imt/src/lean-imt.ts
Due: yarn prettier --write, eslint

chore(lean-imt): v2.2.3
  packages/lean-imt/package.json
Due: yarn prettier --write

Update type-checks.ts
  packages/utils/src/type-checks.ts
Due: yarn prettier --write, eslint

fix: fix in method name of PolField class
  types/ffjavascript/index.d.ts
Due: yarn prettier --write, eslint

fix HTML in README.md
  packages/logical-expressions/README.md
Due: yarn prettier --write

fix evaluate.ts
  packages/logical-expressions/src/evaluate.ts
Due: yarn prettier --write, eslint

Update ---bug.md
  .github/ISSUE_TEMPLATE/---bug.md
Due: yarn prettier --write

Update benchmark-merkle-trees.ts
  benchmarks/benchmark-merkle-trees.ts
Due: yarn prettier --write, eslint

chore: update codeowners file
  .github/CODEOWNERS
Due: none

chore: update position
  .github/CODEOWNERS
Due: none

Chore/update codeowners (#383)
  .github/CODEOWNERS
Due: none

fix(smt): improve zero-value handling
  packages/smt/src/utils.ts
Due: yarn prettier --write, eslint

feat(utils): add pack and unpack plonk proof
  packages/utils/src/proof-packing.ts
  packages/utils/src/types/index.ts
  packages/utils/tests/proof-packing.test.ts
Due: yarn prettier --write, eslint

feat(utils): add pack and unpack fflonk proof
  packages/utils/package.json
  packages/utils/src/proof-packing.ts
  packages/utils/src/types/index.ts
  packages/utils/tests/proof-packing.test.ts
  yarn.lock
Due: yarn prettier --write, eslint

chore: fix function name
  packages/baby-jubjub/src/baby-jubjub.ts
Due: yarn prettier --write, eslint

refactor(utils): create a packed proof base since plonk and fflonk share the same packed proof type
  packages/utils/src/types/index.ts
Due: yarn prettier --write, eslint

Feat/proof packing plonk fflonk (#387)
  packages/utils/package.json
  packages/utils/src/proof-packing.ts
  packages/utils/src/types/index.ts
  packages/utils/tests/proof-packing.test.ts
  yarn.lock
Due: yarn prettier --write, eslint

chore(utils): v1.4.0
  packages/baby-jubjub/package.json
  packages/eddsa-poseidon/package.json
  packages/imt/package.json
  packages/lean-imt/package.json
  packages/poseidon-cipher/package.json
  packages/poseidon-proof/package.json
  packages/utils/package.json
  yarn.lock
Due: yarn prettier --write

refactor(utils): split the packed base type into two for better docs
  packages/utils/src/types/index.ts
Due: yarn prettier --write, eslint

refactor(utils): split the packed base type into two for better docs (#388)
  packages/utils/src/types/index.ts
Due: yarn prettier --write, eslint

chore(utils): v1.4.1
  packages/baby-jubjub/package.json
  packages/eddsa-poseidon/package.json
  packages/imt/package.json
  packages/lean-imt/package.json
  packages/poseidon-cipher/package.json
  packages/poseidon-proof/package.json
  packages/utils/package.json
  yarn.lock
Due: yarn prettier --write

Update dead link
  packages/poseidon-cipher/README.md
Due: yarn prettier --write

Update dead link
  packages/poseidon-cipher/src/constants.ts
Due: yarn prettier --write, eslint

Update dead link
  packages/poseidon-cipher/src/utils.ts
Due: yarn prettier --write, eslint

Path conditions:
  yarn prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,yml,yaml}
  eslint: any of: **/*.{js,ts,jsx,tsx}
