Repository privacy-scaling-explorations/zk-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,yml,yaml}": "yarn prettier --write",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

chore(imt): v2.0.0-beta.7
  packages/imt/package.json
Due: yarn prettier --write

Fix broken and incorrect links README.md
  README.md
Due: yarn prettier --write

Fix broken and incorrect links README.md (#351)
  README.md
Due: yarn prettier --write

Update README.md
  benchmarks/README.md
Due: yarn prettier --write

Fix for loop structure to improve readability
  benchmarks/index.ts
Due: yarn prettier --write, eslint

Update README.md - Fix Spelling and Grammar (#352)
  benchmarks/README.md
Due: yarn prettier --write

feat(smt): allow ChildNodes to use 0 as entry marker
  packages/smt/src/smt.ts
Due: yarn prettier --write, eslint

feat(smt): allow ChildNodes to use 0 as entry marker (#354)
  packages/smt/src/smt.ts
Due: yarn prettier --write, eslint

chore(smt): v1.0.2
  packages/smt/package.json
Due: yarn prettier --write

fix/lean-imt-update-member
  packages/lean-imt/src/lean-imt.ts
  packages/lean-imt/tests/lean-imt.test.ts
Due: yarn prettier --write, eslint

fix/lean-imt-update-member
  packages/lean-imt/src/lean-imt.ts
Due: yarn prettier --write, eslint

fix/lean-imt-update-member
  packages/lean-imt/tests/lean-imt.test.ts
Due: yarn prettier --write, eslint

fix(lean-imt): After a sequence of updates a proof is invalid. due to a bug in type checking, the root is not generated correctly.
  packages/lean-imt/src/lean-imt.ts
Due: yarn prettier --write, eslint

fix(lean-imt): After a sequence of updates a proof is invalid. due to a bug in type checking, the root is not generated correctly.
  packages/lean-imt/tests/lean-imt.test.ts
Due: yarn prettier --write, eslint

fix(lean-imt): After a sequence of updates a proof is invalid. (#355)
  packages/lean-imt/src/lean-imt.ts
  packages/lean-imt/tests/lean-imt.test.ts
Due: yarn prettier --write, eslint

chore(lean-imt): v2.2.2
  packages/lean-imt/package.json
Due: yarn prettier --write

Fix Typo in "Delete Method"
  benchmarks/README.md
Due: yarn prettier --write

typos README.md
  packages/smt/README.md
Due: yarn prettier --write

Fix grammar in README.md (#357)
  packages/smt/README.md
Due: yarn prettier --write

Update README.md
  papers/leanimt/README.md
Due: yarn prettier --write

docs(imt): add docs to indexOf function
  packages/imt/src/imt.ts
Due: yarn prettier --write, eslint

chore: remove unnecessary husky code
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

fix(eddsa-poseidon): fixes carry handling of g function by introducing original blake-hash imp
  packages/eddsa-poseidon/package.json
  packages/eddsa-poseidon/src/blake.ts
  packages/eddsa-poseidon/src/types/blake-hash.d.ts
  packages/poseidon-cipher/src/types/blake-hash.d.ts
  yarn.lock
Due: yarn prettier --write, eslint

fix: Improved error handling and input validation for project name in script
  scripts/remove-stable-version-field.ts
Due: yarn prettier --write, eslint

fix: Improved error handling and input validation for project name in… (#362)
  scripts/remove-stable-version-field.ts
Due: yarn prettier --write, eslint

Update eddsa-poseidon-factory.ts
  packages/eddsa-poseidon/src/eddsa-poseidon-factory.ts
Due: yarn prettier --write, eslint

Update benchmark-merkle-trees.ts
  benchmarks/benchmark-merkle-trees.ts
Due: yarn prettier --write, eslint

Update imt.ts
  packages/imt/src/imt.ts
Due: yarn prettier --write, eslint

Fix spelling imt.ts
  packages/imt/src/imt.ts
Due: yarn prettier --write, eslint

Fix spelling lazytower-hash-chain-proof-builder.ts
  packages/lazytower/src/lazytower-hash-chain-proof-builder.ts
Due: yarn prettier --write, eslint

Fix spelling index.test.ts
  packages/lazytower/tests/index.test.ts
Due: yarn prettier --write, eslint

Fix spelling smt.ts
  packages/smt/src/smt.ts
Due: yarn prettier --write, eslint

Fix spelling conversions.ts
  packages/utils/src/conversions.ts
Due: yarn prettier --write, eslint

fix: Fix regex issue Update rollup.config.ts
  packages/baby-jubjub/rollup.config.ts
Due: yarn prettier --write, eslint

docs: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: yarn prettier --write

docs: update pull_request_template.md
  .github/pull_request_template.md
Due: yarn prettier --write

chore: remove unnecessary husky code (#360)
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

docs(imt): add docs to indexOf function (#359)
  packages/imt/src/imt.ts
Due: yarn prettier --write, eslint

style: format code
  .github/pull_request_template.md
Due: yarn prettier --write

refactor(imt): define export type IMTNode as number | string | bigint instead of any
  packages/imt/src/types/index.ts
Due: yarn prettier --write, eslint
